@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";
:root {
  /* Colors */
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);

  /* Fonts */
  --red-hat: "Red Hat Text", sans-serif;
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}
@theme {
  /* Colors */
  --color-red: var(--red);
  --color-green: var(--green);
  --color-rose-50: var(--rose-50);
  --color-rose-100: var(--rose-100);
  --color-rose-300: var(--rose-300);
  --color-rose-400: var(--rose-400);
  --color-rose-500: var(--rose-500);
  --color-rose-900: var(--rose-900);
  /* Fonts */
  --font-red-hat: var(--red-hat);
  /* Space */
  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-big: 3rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-rose-50);
  padding: 5rem;
}
